<h1>{{ include.collection.label | capitalize }}</h1>

{% assign docs = include.collection.docs %}
<section class="collection-index">
  {% if docs.size == 0 %}
    <p>No {{ include.collection.label }} found.</p>
  {% else %}
    {% for item in docs %}
{% comment %}
<pre><code>
{{ item | inspect }}
</pre></code>
{% endcomment %}
      <article{% cycle '', ' class="alternate"' %}>
        <a href="{{ item.url | relative_url }}" rel="noopener">
          <h2>{{ item.title | escape }}&nbsp;&rarr;</h2>
          <div class="content">
            {{ item.excerpt }}
          </div>
        </a>
      </article>
    {% endfor %}
  {% endif %}
</section>
