<footer id="footer">
  <div class="inner">
    <section>
      <h2>What is this?</h2>
      {% if site.description %}
        <p>{{ site.description | escape }}</p>
      {% else %}
        <p>A personal blog for personal thoughts. Contents of this blog are
          intended as opinion, not fact, and as such are protected speech.</p>
      {% endif %}
    </section>

    <section>
      <h2>Follow</h2>
      <ul class="social-media-list icons">
        {% if site.homepage_url %}
          <li>
            <a href="{{ site.homepage_url }}" target="_blank" rel="me noopener" class="icon fa-user-circle-o">
              <span class="label">About</span>
            </a>
          </li>
        {% endif %}

        {% if site.gitlab_username %}
          <li>
            <a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank" rel="me noopener" class="icon fa-gitlab">
              <span class="label">GitLab</span>
            </a>
          </li>
        {% endif %}

        {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="me noopener" class="icon fa-github h-card">
              <span class="label">GitHub</span>
            </a>
          </li>
        {% endif %}

        {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="me noopener" class="icon fa-twitter">
              <span class="label">Twitter</span>
            </a>
          </li>
        {% endif %}

        {% if site.appnet_username %}
          <li>
            <a href="https://alpha.app.net/{{ site.appnet_username }}" target="_blank" rel="me noopener" class="icon fa-adn">
              <span class="label">App.net</span>
            </a>
          </li>
        {% endif %}

        {% if site.linkedin_username %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="me noopener" class="icon fa-linkedin">
              <span class="label">LinkedIn</span>
            </a>
          </li>
        {% endif %}

        {% if site.stackoverflow_id %}
          <li>
            <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}?tab=profile" target="_blank" rel="me noopener" class="icon fa-stack-overflow">
              <span class="label">Stack Overflow</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>

    <ul class="copyright">
      <li>
        &copy;
        {% if site.author %}
          {{ site.author | escape }}.
        {% else %}
          {{ site.title | escape }}.
        {% endif %}
        All rights reserved
      </li>
      <li>Design: <a href="http://html5up.net" rel="noopener">HTML5 UP</a></li>
    </ul>
  </div>

</footer>
