<div class="home">
  <h1 class="page-heading">{{ includes.title }}</h1>

  <p>
    {{ includes.description }}
  </p>

  <ul class="post-list">
    {% for post in includes.documents %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" rel="noopener">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
	{% comment %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}" rel="noopener">via RSS</a></p>
	{% endcomment %}
</div>
