{% if site.homepage_url %}
  <link rel="me" href="{{ site.homepage_url }}" />
{% endif %}
{% if site.twitter_username %}
  <link rel="me" href="https://twitter.com/{{ site.twitter_username }}" />
{% endif %}
{% if site.github_username %}
  <link rel="me" href="https://github.com/{{ site.github_username }}" />
{% endif %}
{% if site.gitlab_username %}
  <link rel="me" href="https://gitlab.com/{{ site.gitlab_username }}" />
{% endif %}
{% if site.linkedin_username %}
  <link rel="me" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" />
{% endif %}
{% if site.appnet_username %}
  <link rel="me" href="https://alpha.app.net/{{ site.appnet_username }}" />
{% endif %}
{% if site.stackoverflow_id %}
  <link rel="me" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}?tab=profile" />
{% endif %}
