<meta name="og:title" content="{{ page.title | default: site.title }}" />
<meta name="og:url" content="{{ site.url }}{{ page.url }}" />
<meta name="og:type" content="blog" />
<meta name="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
{% if page.image %}
  <meta name="og:image" content="{{ site.url }}{{ page.image }}" />
{% else %}
  <meta name="og:image" content="{{ site.url }}/assets/logo.svg" />
{% endif %}
