@import 'phantom-blergh/libs/vars';
@import 'phantom-blergh/libs/functions';
@import 'phantom-blergh/libs/mixins';
@import 'phantom-blergh/libs/skel';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900');

/*
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)',
  xxsmall: '(max-width: 360px)'
));

@include skel-layout((
  reset: 'full',
  boxModel: 'border',
  grid: (
    gutters: 2em
  ),
  breakpoints: (
    medium: (
      grid: (
        gutters: 1.5em
      )
    ),
    small: (
      grid: (
        gutters: 1em
      )
    )
  )
));

// Base.

@import 'phantom-blergh/base/page';
@import 'phantom-blergh/base/typography';

// Component.

@import 'phantom-blergh/components/section';
@import 'phantom-blergh/components/icon';
@import 'phantom-blergh/components/list';
@import 'phantom-blergh/components/form';
@import 'phantom-blergh/components/box';
@import 'phantom-blergh/components/image';
@import 'phantom-blergh/components/table';
@import 'phantom-blergh/components/button';
@import 'phantom-blergh/components/tiles';
@import 'phantom-blergh/components/syntax_highlighting';

// Layout.

@import 'phantom-blergh/layout/header';
@import 'phantom-blergh/layout/menu';
@import 'phantom-blergh/layout/main';
@import 'phantom-blergh/layout/footer';
@import 'phantom-blergh/layout/wrapper';
@import 'phantom-blergh/layout/articles';
