
.collection-index {

  article {
    padding: 2.5em 1em;
    margin: 0;
    border-top: solid 1px #C9C9C9;

    &:first-child {
      border-top: 0;
    }

    &.alternate {
      background-color: #EEEEEE;
    }
  }

}

