<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="wrapper">
      {% include header.html %}

      <main id="main" aria-label="Content">
        <div class="inner">
          {{ content }}
        </div>
      </main>

      {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/skel.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/util.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/email.js" | relative_url }}"></script>
  </body>
</html>
