---
layout: default
---

{% if content %}
<header>
  {{ content }}
</header>
{% endif %}

{% assign image = "/assets/images/stock" | relative_url %}
<section class="tiles">
  {% for collection in site.collections %}
    {% unless collection.navigation_list == true %}
      {% continue %}
    {% endunless %}
    <article>
      <span class="image">
        <img src="{{ image }}{% cycle '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12' %}.jpg" alt="" />
      </span>
      <a href="{{ collection.label | slugify | prepend: '/' | append: '.html' | relative_url }}">
        <h2>{{ collection.label | capitalize }}</h2>
        <div class="content">
          <p>{{ collection.description }}</p>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
