---
layout: default
---

<article class="page">
  <h1>{{ page.title | escape }}</h1>
  {% if page.banner_image %}
    <span class="image main fit">
      <img src="{{ page.banner_image | relative_url }}" alt="{{ page.banner_image_description | default: '' }}" />
    </span>
  {% endif %}

  <div class="page-content">
    {{ content }}
  </div>
</article>
