---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %}
        &bull;
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% elsif site.author %}
        &bull;
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ site.author }}</span>
        </span>
      {% endif %}
      {% if site.features.readtime_enabled == true %}
        &bull; {% include read-time.html content=page.content %}
      {% endif %}
    </p>
  </header>

  {% if page.banner_image %}
    <span class="post-banner image main fit">
      <img src="{{ page.banner_image | relative_url }}" alt="{{ page.banner_image_description | default: '' }}" />
    </span>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include discus_comments.html %}
  {% endif %}
</article>
